.candyShow{
    border: 2px solid darkgray;
        padding: 20px;
        border-radius: 20px;
        row-gap: 20px;
        background-color: rgb(123, 144, 206);
}
.candyShow h2 ,h3{
font-size: 30px;
color: teal;
}
.candyShow span{
    font-size: 25px;
    color: rgb(128, 0, 68);
}
.candyShow_buttons{
height: 50px;
width:200px;
margin-right: 20px;
background-color: rgb(164, 134, 134);
font-size: 20px;
box-shadow: 1px;

}