
.navBar{
    text-align: center;
    background-color: #FF9BD2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.navBar div{
    width:fit-content;
}
.nav-links{
    list-style: none;
   color: blueviolet;
    text-decoration: none;
}
.nav-links:hover{
    color: #ffd700;
}
.candyImg{
    height: 100px;
    width: 200px; 
    
}



