.App{
/*     
        display: flex;
        flex-direction: row;
        text-align: right;
        padding-right: 5px;
        height: fit-content; */
      



font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(45deg, #ff8080, #ffd700);
    margin: 40px;
    padding:40px;
   


    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color:#491974;
    font: size 20px; ;
}
.button{
    background-color: #ca4b8a;
    color:#491974;
    font-size: 14px ;
    padding: 40px 40px;
    border: none;
    cursor: pointer;
   
    
}
.button:hover{
    background-color: #ff1493;

}

    
